.pull-box {
	/*与 pullbox.option.reFreshDistance 对应*/
	margin-top: -60px;
}

.pull-refresh,
.pull-loadmore {
	height: 60px;
	background-image: url("loading.gif");
	background-position: center;
	background-repeat: no-repeat;
}